<!DOCTYPE html>
<html>
<body>

<h1>Order Will Go Here</h1>

<p>Click the button below to display the hidden content .</p>

<button onclick="showContent()">Show hidden content</button>

<template>
  <h2>Not A Flower</h2>
  <h3> fool khile gulshan gulshan</h3>
  <img src="img_white_flower.jpg" width="214" height="204">
</template>

<script>
function showContent() {
  var temp = document.getElementsByTagName("template")[0];
  var clon = temp.content.cloneNode(true);
  document.body.appendChild(clon);
}
</script>

</body>
</html>
